<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836917147552-2a14110smtj4r8u8o9aqt9j3909vklnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836917147552-2a14110smtj4r8u8o9aqt9j3909vklnm</string>
	<key>API_KEY</key>
	<string>AIzaSyA1QdULLOi8RQm0vrop8A52SfLCQV3aHBs</string>
	<key>GCM_SENDER_ID</key>
	<string>836917147552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buybuddy</string>
	<key>PROJECT_ID</key>
	<string>buybuddy-83f35</string>
	<key>STORAGE_BUCKET</key>
	<string>buybuddy-83f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836917147552:ios:eac1faa12d0f24427496c5</string>
</dict>
</plist>